body {
  text-align: center;
  font-size: 24px;
}

.container {
  display: grid;
  text-align: center;
  background: aqua;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 190px 190px;
}

.section-1 {
  grid-column: 1/-1;
  background-color: #83ea58;
}

.section-2 {
  background-color: #d5c9e2;
}

.section-3 {
}

.m-parent {
  grid-column: 2/-1;
}

.main-content {
  background-color: #b59f5f;
  height: 260px;
}

.extr-content {
  background-color: #a4b092;
  height: 117px;
}

.section-3 {
  background-color: #495a2a;
}
